#load-screen {
    

}


#loading {

    width: 500px;
    height: 500px;
    margin: 10% auto;
    background: url(../images/loader.gif);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;

}